body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}
.form-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid  rgba(206, 42, 42, 0.5); 
}
h1 {
  color: rgb(206, 42, 42);
  text-align: center;
  margin-bottom: 5px; 
}
h2 {
  color:#666;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  
}
input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 11px;
  box-sizing: border-box;
  box-shadow: 0px 1px 0px 0px rgb(206, 42, 42); /* adaugam umbra doar jos */
}

input[type="radio"] {
  margin-right: 5px;
  margin-bottom: 50px; /* Adăugăm spațiu între butoanele radio */
  margin-top: 10px;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 11px;
  background-color:rgb(206, 42, 42);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.button-login {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2); 
  border-radius: 11px;
  width: 100%;
  padding: 10px;
  color:gray; 
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}

.logout-button {
  padding: 8px 16px;
  border: none;
  border-radius: 11px;
  background-color: rgb(206, 42, 42);
  color: white;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 30px;
  margin-top: 30px;
}

.radio-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px; 
}

/* Adding hover effects for interactivity */
.button:hover, .logout-button:hover {
  background-color: darkred; /* Darker on hover */
}

.button-login:hover {
  background-color: #eee; /* Light grey on hover */
}