.login-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    justify-items: center;
    align-content: center;
    /* padding: 0 5%; */
    box-sizing: border-box;
    height: 100vh;
}

.login-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    width: 90%;
    max-width: 400px;
    border-radius: 20px;
    margin: 50px auto;
    border: 1px solid #C10000;
    box-shadow: 0px 0px 19px 8px rgba(0, 0, 0, 0.16);
}

.login-title {
    color: #C10000;
    margin: 10px;
    font-size: 24px;
    font-weight: 900;
}

.login-sub-title {
    margin-bottom: 10px;
}

form {
    width: 80%;
}

.login-form input:focus {
    width: 100%;
    outline: none;
}

.name-cont {
    padding: 10px;
    border-bottom: 1px solid #C10000;
    border-radius: 10px;
    background-color: #f5f5f5;
    width: 100%;
    margin: 10px 0;
    box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.16);
}

.name-cont img {
    margin: 0 5px;
    aspect-ratio: 1/1;
    width: 15px;
}

.name-cont input {
    margin: 0;
    width: 100%;
}

.login-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0;
}

.login-btn-container > a {
    margin: 5px 0;
}

.login-btn {
    padding: 10px;
    border-radius: 13px;
    border: none;
    background-color: #C10000;
    border: 1px solid #C10000;
    color: #FFFF;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #a50000;
    border: 1px solid #C10000;
}

.register-btn {
    padding: 10px;
    border-radius: 13px;
    background-color: #eaeaea;
    border: 1px solid #4A5568;
    color: #4A5568;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.register-btn:hover {
    color: #eaeaea;
    background-color: #C10000;
    border: 1px solid #C10000;
}

/* Responsive Design */
@media only screen and (min-width: 600px) {
    .login-title {
        font-size: 28px;
    }
}

@media only screen and (min-width: 768px) {
    .login-sub-container {
        width: 60%;
        max-width: 500px;
    }
}

@media only screen and (min-width: 1024px) {
    .login-sub-container {
        width: 40%;
    }
}

@media only screen and (min-width: 1440px) {
    .login-sub-container {
        
        
        width: 30%;
    }
}

@media only screen and (min-width: 2560px) {
    .login-sub-container {
        width: 20%;
    }
}

@media only screen and (min-width: 3840px) {
    .login-sub-container {
        width: 15%;
    }
}
