.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #eeeeee;
    width: 400px;
    border-radius: 20px;
    margin: 100px auto;
    border: 1px solid #C10000;
    -webkit-box-shadow: 0px 0px 19px 8px rgba(0,0,0,0.16);
-moz-box-shadow: 0px 0px 19px 8px rgba(0,0,0,0.16);
box-shadow: 0px 0px 19px 8px rgba(0,0,0,0.16);
}

.login-title{
    color: #C10000;
    margin: 10px;
    font-size: 36px;
    font-weight: 900;
}
.login-sub-title{
    margin-bottom: 10px;
}
form{
    width: 80%;
}
.name-cont{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #C10000;
    border-radius: 10px;
    background-color: #f5f5f5;
    width: 100%;
    margin: 10px 0;
    box-shadow: 25% #000000;
    -webkit-box-shadow: 0px 6px 13px 0px rgba(0,0,0,0.16);
-moz-box-shadow: 0px 6px 13px 0px rgba(0,0,0,0.16);
box-shadow: 0px 6px 13px 0px rgba(0,0,0,0.16);
    

}
.name-cont img{
    margin:0 5px;
    aspect-ratio: 1/1;
    width: 15px;
}
.name-cont input{
    margin: 0;
}
.login-btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0;
    
}
.login-btn-container>a{
    margin: 5px 0;
}
.login-btn{
     padding: 10px;
    border-radius: 13px;
    border: none;
    background-color: #C10000;
    border: 1px solid #C10000;

    color: #FFFF;
    text-decoration: none;
    width: 100%;
    /* height: 50px; */
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}


.login-btn:hover{
    background-color: #EAEAEA;
    border: 1px solid #C10000;
    color: #4A5568;
    
}
.register-btn{
    padding: 10px;
    border-radius: 13px;
    
    background-color: #eaeaea;
    border: 1px solid #4A5568;

    color: #4A5568;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    width: 100%;
    /* height: 50px; */
    text-align: center;
}
.register-btn:hover{
    color: #eaeaea;
    background-color: #C10000;
    border: 1px solid #C10000;
}