.patient-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #eeeeee;
    width: 30%;
    border-radius: 20px;
    margin: 100px auto;
    border: 1px solid #C10000;
    -webkit-box-shadow: 0px 0px 19px 8px rgba(0,0,0,0.16);
-moz-box-shadow: 0px 0px 19px 8px rgba(0,0,0,0.16);
box-shadow: 0px 0px 19px 8px rgba(0,0,0,0.16);

}

.patient-title{
    color: #C10000;
    margin: 10px;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}
.patient-sub-title{
    margin-bottom: 10px;
}
form{
    width: 80%;
}
.name-cont{
    display: block;
    padding: 10px;
    border-bottom: 1px solid #C10000;
    border-radius: 10px;
    background-color: #f5f5f5;
    width: 100%;
    margin: 10px 0;
    box-shadow: 25% #000000;
    -webkit-box-shadow: 0px 6px 13px 0px rgba(0,0,0,0.16);
-moz-box-shadow: 0px 6px 13px 0px rgba(0,0,0,0.16);
box-shadow: 0px 6px 13px 0px rgba(0,0,0,0.16);
    
}
/* input[type="date"]::-webkit-calendar-picker-indicator { 
    display: absolute;
     
} */
.occupation-select{
    border: none;
    border-bottom: 1px solid #C10000;

}

.name-cont input{
    margin: 0;
}
.patient-btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0;
    
}
.patient-btn-container>a{
    margin: 5px 0;
}


.patient-registration-btn-container{
    margin: 30px 0;
}
.radio{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}