/* General styling for the container */
.registration-container {
   
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    justify-items: center;
    align-content: center;
    /* padding: 0 5%; */
    box-sizing: border-box;
    height: 100vh;
    
}

/* Sub container styling */
.registration-sub-container {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #eeeeee;
    width: 90%;
    max-width: 400px;
    border-radius: 20px;
    margin: 100px auto;
    border: 1px solid #C10000;
    -webkit-box-shadow: 0px 0px 19px 8px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 19px 8px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 19px 8px rgba(0, 0, 0, 0.16);
}

/* Title styling */
.registration-title {
    color: #C10000;
    margin: 10px;
    font-size: 24px;
    font-weight: 900;
}

/* Subtitle styling */
.registration-sub-title {
    margin-bottom: 10px;
}

/* Form styling */
form {
    width: 80%;
}

/* Name container styling */
.name-cont {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #C10000;
    border-radius: 10px;
    background-color: #f5f5f5;
    width: 100%;
    margin: 10px 0;
    -webkit-box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.16);
}

.name-cont img {
    margin: 0 5px;
    aspect-ratio: 1/1;
    width: 15px;
}

.name-cont input {
    margin: 0;
    flex: 1;
    border: none;
    background: none;
}

/* Button container styling */
.registration-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0;
}

.registration-btn-container > a {
    margin: 5px 0;
}

/* Red button styling */
.red-btn {
    padding: 10px;
    border-radius: 13px;
    border: none;
    background-color: #C10000;
    border: 1px solid #C10000;
    color: #FFFF;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.red-btn:hover {
    background-color: #a50000;
    border: 1px solid #C10000;
}

/* Gray button styling */
.gray-btn {
    padding: 10px;
    border-radius: 13px;
    background-color: #eaeaea;
    border: 1px solid #4A5568;
    color: #4A5568;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.gray-btn:hover {
    color: #eaeaea;
    background-color: #C10000;
    border: 1px solid #C10000;
}

/* Radio button styling */
.radio {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

/* Responsive Design */
@media only screen and (min-width: 600px) {
    .registration-title {
        font-size: 28px;
    }
}

@media only screen and (min-width: 768px) {
    .registration-sub-container {
        width: 60%;
        max-width: 500px;
    }
}

@media only screen and (min-width: 1024px) {
    .registration-sub-container {
        width: 35%;
    }
}

@media only screen and (min-width: 1440px) {
    .registration-sub-container {
        width: 25%;
    }
}

@media only screen and (min-width: 2560px) {
    .registration-sub-container {
        width: 15%;
    }
}

@media only screen and (min-width: 3840px) {
    .registration-sub-container {
        width: 10%;
    }
}
