nav{
    
    display: flex;
    align-items: center;
    flex-direction: row;
}
.dashboard-nav{
    justify-content: space-between;
    
}
.navbar{
    justify-content:space-around;
    
}
.nav-btn{
    padding: 10px;
    border-radius: 13px;
    border: none;
    background-color: #C10000;
    border: 1px solid #C10000;

    color: #FFFF;
    text-decoration: none;
    width: 123.16px;
    /* height: 50px; */
    text-align: center;
}

.nav-btn:hover{
    background-color: #a50000;
    border: 1px solid #C10000;
    
}