nav{
    
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #fefefe;
    width: 100%;
    position: fixed;
    top: 0;
}
.dashboard-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content:space-around;
    
}
.nav-btn{
    padding: 10px;
    border-radius: 13px;
    border: none;
    background-color: #C10000;
    border: 1px solid #C10000;

    color: #FFFF;
    text-decoration: none;
    width: 123.16px;
    /* height: 50px; */
    text-align: center;
}

.nav-btn:hover{
    background-color: #a50000;
    border: 1px solid #C10000;
    
}
nav img{
    padding: 10px 0;
}

/* Responsive design for mobiles */

@media screen and (max-width:576px) {
   
    
    .navbar{
        justify-content:space-between;
        
        
    }
    .nav-btn{
        padding: 10px;
        border-radius: 13px;
        border: none;
        background-color: #C10000;
        border: 1px solid #C10000;
        margin: 0 10px;
        color: #FFFF;
        text-decoration: none;
        width: 100px;
        /* height: 50px; */
        text-align: center;
    }
}